*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color1: #e1b838;
  --color2: #262726;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

/*----------------------*/
.wrapper {
  min-width: 100%;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 105px 0px 95px;
  min-height: 205px;
  background-color: var(--color2);
}

.logo img {
  width: 100%;
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 237px;
          flex: 0 1 237px;
}

.menu-list {
  border: 3px solid var(--color1);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 70px;
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open Sans";
  font-size: 33.4px;
  font-weight: 400;
}

.sidenav a {
  color: var(--color1);
}

.sidenav li {
  padding: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  -webkit-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}

.sidenav li:hover a {
  color: var(--color2);
}

.sidenav li:hover {
  font-weight: 700;
  background-color: var(--color1);
}

/*-----------------------*/
.container {
  position: relative;
  height: 25px;
  width: 25px;
  display: none;
  z-index: 25;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: var(--color1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  z-index: 5;
}

.bar1 {
  top: 0px;
}

.bar2 {
  top: 50%;
}

.bar3 {
  top: 100%;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 50%);
  -ms-transform: rotate(-45deg) translate(0px, 50%);
      transform: rotate(-45deg) translate(0px, 50%);
  top: 50%;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -50%);
  -ms-transform: rotate(45deg) translate(0px, -50%);
      transform: rotate(45deg) translate(0px, -50%);
  top: 50%;
}

@media (max-width: 1200px) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
  .sidenav {
    font-size: 25px;
  }
  .sidenav li {
    padding: 10px 0px;
  }
}

@media (max-width: 1000px) {
  .header-wrapper {
    padding: 30px 50px 0 50px;
  }
  .menu-list {
    margin-left: 35px;
  }
  .logo {
    padding: 15px;
  }
}

@media (max-width: 800px) {
  .header-wrapper {
    padding: 30px 50px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-list {
    margin: 20px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
  }
}

@media (max-width: 740px) {
  .header-wrapper {
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  .container {
    display: block;
  }
  .sidenav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--color2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 1.1s;
    -o-transition: all 1.1s;
    transition: all 1.1s;
  }
  .sidenav.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu-list {
    border: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0;
  }
  .sidenav {
    display: block;
    padding-top: 40px;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  .sidenav a {
    color: var(--color1);
  }
  .sidenav li {
    padding: 20px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: center;
  }
  .sidenav li:hover {
    font-weight: 700;
    background-color: transparent;
  }
  .sidenav li:hover a {
    background-color: var(--color1);
    padding: 10px 20px;
    color: var(--color2);
  }
}

/*-------------------------*/
.swiper {
  width: 100%;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color2);
}

.slider1-slide {
  position: relative;
}

.swiper-slide::after,
.swiper-slide::before {
  content: "";
  position: absolute;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 650px;
  height: 650px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.swiper-slide::after {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-slide::before {
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.slider1-slide1::after {
  background-image: url("../img/menu/3.webp");
}

.slider1-slide1::before {
  background-image: url("../img/menu/1.webp");
}

.slider1-slide2::after {
  background-image: url("../img/menu/1.webp");
}

.slider1-slide2::before {
  background-image: url("../img/menu/2.webp");
}

.slider1-slide3::after {
  background-image: url("../img/menu/2.webp");
}

.slider1-slide3::before {
  background-image: url("../img/menu/3.webp");
}

.slider1__text-block {
  text-align: center;
  padding: 200px 25px 0 25px;
}

.slider1_text-block__title {
  background-color: var(--color1);
  font-family: "Open Sans";
  font-size: 46.8px;
  font-weight: 800;
  letter-spacing: 0.025em;
  color: #262626;
  padding: 25px 50px;
}

.slider1__text-block__info {
  border: 10px solid var(--color1);
  font-family: "Open Sans";
  font-size: 41.3px;
  padding: 25px 50px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-top: -1px;
}

.slider1__text {
  margin-top: 60px;
  font-family: "Open Sans";
  font-size: 42.6px;
  line-height: 74px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-bottom: 190px;
}

.slider1__text ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider1__text ul li {
  padding: 0 23px;
  position: relative;
}

.slider1__text ul li::before {
  content: "";
  height: 2.5px;
  width: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: #fff;
}

.slider1__text ul li:last-child::before {
  display: none;
}

.slider__conrtollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.slider_controllers__wrapper {
  width: 238px;
  height: 75px;
  position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--color1);
  font-weight: 900;
}

.swiper-pagination-bullet {
  background-color: transparent;
  width: 30px;
  height: 30px;
  opacity: 1;
  border: 4px solid var(--color1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.swiper-pagination-bullet-active {
  background-color: var(--color1);
  opacity: 1;
}

@media (max-width: 1150px) {
  .swiper-slide::after,
  .swiper-slide::before {
    display: none;
  }
  .slider1__text-block {
    padding: 100px 25px 0 25px;
  }
}

@media (max-width: 700px) {
  .slider1_text-block__title {
    padding: 15px 30px;
    font-size: 36.8px;
  }
  .slider1__text-block__info {
    font-size: 25.3px;
    padding: 15px 30px;
  }
  .slider1__text {
    font-size: 36px;
  }
}

@media (max-width: 640px) {
  .slider1__text ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider1__text ul li {
    padding: 0 23px;
    position: relative;
    min-width: 33.4%;
    text-align: center;
  }
  .slider1__text ul li:nth-child(2)::before {
    display: none;
  }
  .slider1__text ul li::before {
    content: "";
    height: 2.5px;
    width: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    background-color: #fff;
  }
  .slider1__text ul li:last-child::before {
    display: none;
  }
}

@media (max-width: 400px) {
  .slider1__text-block__info {
    padding: 15px 0px;
    border: 5px solid var(--color1);
  }
}

/*------------------------*/
.menu {
  background-image: url("../img/slider/bg/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  font-family: "Fjalla One";
  font-size: 62.5px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-shadow: 3px 17px 31px rgba(0, 0, 0, 0.77);
  color: #ffffff;
  text-align: center;
}

.menu__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 40px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 50px;
}

.menu__column-img img {
  width: 100%;
  height: 100%;
}

.column-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.column-card__title {
  font-family: "Open Sans";
  font-size: 30.2px;
  font-weight: 800;
  color: #262626;
  background-color: var(--color1);
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.column-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans";
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding: 15px;
  line-height: 1.8;
  border: 3px solid var(--color1);
  margin-top: -0.5px;
}

.column-card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1300px) {
  .menu__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    padding: 0 20px;
  }
  .menu__row {
    padding: 0 20px 40px;
  }
}

@media (max-width: 1100px) {
  .menu__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    padding: 0 10px;
  }
  .column-card__info {
    font-size: 19px;
  }
}

@media (max-width: 900px) {
  .menu__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
}

@media (max-width: 700px) {
  .menu__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  .column-card__info {
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .menu__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
  .column-card__info {
    padding: 10px;
  }
}

/*---------------------*/
.specials {
  background-color: #262726;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 77, 77, 0.233)), to(rgba(0, 0, 0, 0.425)));
  background-image: -webkit-linear-gradient(top, rgba(77, 77, 77, 0.233), rgba(0, 0, 0, 0.425));
  background-image: -o-linear-gradient(top, rgba(77, 77, 77, 0.233), rgba(0, 0, 0, 0.425));
  background-image: linear-gradient(180deg, rgba(77, 77, 77, 0.233), rgba(0, 0, 0, 0.425));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 130px 25px 100px;
  position: relative;
}

.specials__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59.12%;
          flex: 0 1 59.12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specials__img img {
  width: 100%;
}

.specials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.specials__title {
  font-family: "Open Sans";
  font-size: 54.1px;
  line-height: 1.2;
  font-weight: 400;
  color: #e1b838;
  max-width: 500px;
  text-align: right;
  padding-top: 90px;
}

.special__title-bold {
  font-weight: 700;
}

.specials__btn {
  margin-top: 20px;
  white-space: nowrap;
}

.specials__btn a {
  text-decoration: none;
  color: var(--color2);
  font-family: "Fjalla One";
  font-size: 27px;
  line-height: 1.2;
  font-weight: 400;
  padding: 5px 40px;
  background-color: var(--color1);
}

.specials__logo {
  margin: 125px 0px 25px;
}

.specials__sub-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.specials__sub-title h3 {
  font-family: "Fjalla One";
  font-size: 34.3px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-shadow: 1px 8px 16px rgba(0, 0, 0, 0.77);
  color: var(--color1);
}

@media (max-width: 980px) {
  .specials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 45px;
  }
  .specials__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 450px;
  }
  .specials__title {
    padding-top: 30px;
    font-size: 44px;
  }
}

@media (max-width: 500px) {
  .specials__title {
    font-size: 32.1px;
  }
  .specials__sub-title h3 {
    font-size: 24.3px;
  }
  .specials__logo {
    margin: 45px 0px 15px;
  }
}

@media (max-width: 400px) {
  .specials {
    padding: 25px;
  }
  .specials__title {
    font-size: 28px;
  }
}

/*--------------*/
.method {
  background-image: url("../img/slider/bg/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 5.555%;
}

.method-card__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 58.4px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.025em;
}

.method__img {
  padding-top: 95px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.method__img img {
  width: 100%;
}

.method-card {
  padding-top: 105px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 590px;
          flex: 0 0 590px;
}

.method-card__info {
  font-size: 37.5px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

@media (max-width: 1200px) {
  .method__img {
    padding-top: 95px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 38%;
            flex: 0 1 38%;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .method {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .method__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-top: 10px;
  }
  .method-card {
    padding: 10px 40px 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
  }
  .method-card__info {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .method__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
  .method-card {
    padding: 10px 20px 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .method-card__title {
    font-size: 38.4px;
  }
  .method-card__info {
    font-size: 20px;
  }
}

/*-------------------------*/
.special {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color2);
}

.special__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 85px 100px 0;
}

.special-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 37.8471%;
  padding-right: 40px;
}

.special-card__title {
  font-size: 40.8px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.025em;
  color: var(--color2);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-align: center;
}

.special-card__info {
  font-size: 40.8px;
  line-height: 1.2;
  font-weight: 700;
  padding: 40px 0px;
  letter-spacing: 0.025em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.special-text {
  padding-left: 40px;
  font-family: "Open Sans";
  font-size: 29.2px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.special__imeges img {
  width: 100%;
  height: 100%;
}

.special__imeges {
  position: relative;
  height: 47vw;
  width: 100%;
}

.special__img {
  position: absolute;
}

.special__img:nth-child(1) {
  width: 54.236111111%;
  bottom: -29.19%;
  left: 0;
}

.special__img:nth-child(2) {
  bottom: -2.919%;
  right: 13.88%;
  width: 26.736111%;
}

.special__img:nth-child(3) {
  top: -2.919;
  right: 0.45%;
  width: 23.68055556%;
}

@media (max-width: 1200px) {
  .special__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 45px 6.944% 0;
  }
  .special-card__title {
    text-align: center;
  }
  .special-card {
    padding: 10px;
  }
  .special-text {
    padding: 20px;
  }
}

@media (max-width: 660px) {
  .special__row {
    padding: 45px 3.944% 0;
  }
  .special-card__title {
    font-size: 30.8px;
  }
  .special-card__info {
    font-size: 30.8px;
  }
  .special-card {
    padding: 10px;
  }
  .special-text {
    padding: 20px;
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .special__row {
    padding: 25px 2.944% 0;
  }
  .special-card__title {
    font-size: 25px;
  }
  .special-card__info {
    font-size: 25px;
  }
  .special-text {
    padding: 10px;
    font-size: 20px;
  }
}

.live {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../img/slider/bg/background.webp");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/slider/bg/background.webp");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/slider/bg/background.webp");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/slider/bg/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.live__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13.88vw;
  width: 100%;
}

.live-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 493px;
  margin: 0 25px;
}

.live-card__title {
  font-size: 58.8px;
  font-weight: 800;
  color: var(--color2);
  text-align: center;
}

.live-card__info {
  display: block;
  text-align: center;
  font-family: "Open Sans";
  font-size: 58.3px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-weight: 400;
}

.live-card__info .bold {
  font-weight: 700;
}

.live-text {
  font-family: "Open Sans";
  font-size: 41.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 595px;
          flex: 0 1 595px;
  margin: 0 25px;
}

.live__images {
  width: 100%;
  margin-bottom: -3.8vw;
}

.live__img img {
  width: 100%;
}

@media (max-width: 1050px) {
  .live__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .live-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 595px;
            flex: 1 1 595px;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .live-text {
    font-size: 19px;
  }
  .live-card__title {
    font-size: 28.8px;
  }
  .live-card__info {
    font-size: 28.3px;
  }
}

/*----------------*/
